<!-- 新規登録入力フォーム -->
<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local:true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
      <div class="row mt-3">
        <div class="col-3">
          <h4>新規会員登録</h4>
        </div>
      </div>

      <div class="row pb-2">
        <div class="col-1 offset-3"><%= f.label :"名前" %></div>
        <div class="col-2"><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"登録する会員名"  %></div>
      </div>

      <div class="row pb-2">
        <div class="col-3 offset-1">メールアドレス</div>
        <div class="col-3"><%= f.email_field :email, placeholder: "sample@example.com" %></div>
      </div>

       <div class="row pb-2">
        <div class="col-3 offset-1">パスワード（6文字以上）</div>
        <div class="col-3"><%= f.password_field :password, class: "form-control" %></div>
      </div>

      <div class="row pb-2">
        <div class="col-3 offset-1">パスワード（確認用）</div>
        <div class="col-3"><%= f.password_field :password_confirmation, class: "form-control" %></div>
      </div>

      <div class="row pb-2">
        <div class="col-3 offset-1"></div>
         <div class="col-3"><%= f.submit "新規登録" ,class: "btn btn-success"%></div>
      </div>

      <div class="row mt-3">
        <div class="col-3">
          <h4>既に登録済みの方</h4>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-5 ml-3">
          <%= render "devise/shared/links" %>からログインしてください。
        </div>

      </div>
    </div>
<% end %>