<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>投稿編集ページ</h1>

      <% if @train.errors.any? %>
      <h3> <%= @train.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
      <% @train.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>

      <%= form_with model: @train, url: train_path(@train.id), method: :patch do |f| %>
      <div class="form-group">
        <label>タイトル</label>
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="form-group">
        <label>本文</label>
        <%= f.text_field :body, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "更新する", class:"btn btn-success" %>
      </div>
        <% end %>
        <%= link_to "戻る", train_path(@train.id) %>
        |
        <%= link_to "投稿一覧へ", trains_path %>
    </div>
  </div>
</div>
